# FastAPI and related
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6

# Pydantic
pydantic==2.5.0
pydantic-settings==2.1.0

# Database
sqlalchemy==2.0.23
alembic==1.12.1
psycopg2-binary==2.9.9
geoalchemy2==0.16.0
shapely
geojson
requests

# Elasticsearch
elasticsearch==8.11.0

# Other utilities
python-dotenv==1.0.0
pytz==2025.2

# Testing
pytest
httpx

oe-utils @ git+ssh://git@github.com/OnroerendErfgoed/oe_utils.git@dd66ea88af90e7ef964b50566f8c096519103384
oe-geoutils @ git+ssh://git@github.com/OnroerendErfgoed/oe_geoutils.git@8428c6fe71fa4f2e9c488fdab87b3a59ab8532cf